{% extends "bootstrap/base.html" %}
{% block title %}News{% endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle"
data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
 {% block scripts %}
     {{ super() }}
 {% endblock %}

<a class="navbar-brand" href="/">News</a>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li><a href="/">Home</a></li>
</ul>

</div>
</div>
</div>
    <div>
    {% for n in news %}
{#    <div class="news-title" style="border-bottom: solid 1px #0066CC;padding: 10px 10px" >#}
        <b><a href="news/1">{{ n.title }}</a></b>
        <p style="display:block">新闻来源：bbc</p>
    </div>
        <HR WIDTH="70%" color="#ff0033">

    {% endfor %}
    {% endblock %}
   </div>

</body>
</html>